In [9]:
import barcode
from barcode.writer import ImageWriter
import pandas as pd

In [10]:
ex = pd.read_csv(r"p:\Gellifique\DOCUMENTS\Factory Invoices\09_gellifique20211009 EDITED excel.csv")

In [17]:
ex

,Guangzhou Miss Gel Limited Company,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Factory address: Butterfly manufacturing Indus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tel: 0086-20-36689493 Fax: 0086-20-36689493 W...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,contact: Nina xie M.+86-13902242438 E-ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Proforma Invoice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
100,88,PS 200 - 6,12 design*10pcs,NaN,NaN,40,8.00,320.00,5060726308960,PS 200 - 6,New
101,89,PS 200 - 7,12 design*10pcs,NaN,NaN,40,8.00,320.00,5060726308977,PS 200 - 7,New
102,Total amount,NaN,NaN,NaN,NaN,NaN,NaN,"￥63,560.00",USD9854,NaN,USD9854
103,1.Bank information:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,建设银行\n\n户名：唐淑梅\n卡号：6217-0031-9000-5946-322\n开户...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
for e in ex.iloc[:,8]:
    print(e,len(str(e)))
    if (len(str(e))==13):
        ean_eps = barcode.get('ean13-guard', str(e), writer=ImageWriter(format='EPS'),)
        ean_png = barcode.get('ean13-guard', str(e), writer=ImageWriter(format='PNG'),)
        filename = ean_png.save(str(e))
        filename
        filename = ean_eps.save(str(e))
        filename

nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
nan 3
Barcode 7
5060726308007 13
5060726308014 13
5060726308021 13
5060726308038 13
5060726308045 13
5060726308052 13
5060726308069 13
5060726308076 13
5060726308083 13
5060726308090 13
5060726308106 13
5060726308113 13
5060726308120 13
5060726308137 13
5060726308144 13
5060726308151 13
5060726308168 13
5060726308175 13
5060726308182 13
5060726308199 13
5060726308205 13
5060726308212 13
5060726308229 13
5060726308236 13
5060726308243 13
5060726308250 13
5060726308267 13
5060726308274 13
5060726308281 13
5060726308298 13
5060726308304 13
5060726308311 13
5060726308328 13
5060726308335 13
5060726308342 13
5060726308359 13
5060726308366 13
5060726308373 13
5060726308380 13
5060726308397 13
5060726308403 13
5060726308410 13
5060726308427 13
5060726308434 13
5060726308441 13
5060726308458 13
5060726308465 13
5060726308472 13
5060726308489 13
5060726308496 13
5060726308502 13
5060726308519 13
5060726308526 13
5060726308533 13
5060726308540 13
5060726308557 13
5060726308564 13
5060726308571 13
5060726308588 13
5060726308595 13
5060726308601 13
5060726308618 13
5060726308625 13
5060726308687 13
5060726308694 13
5060726308700 13
5060726308717 13
5060726308755 13
5060726308762 13
5060726308779 13
5060726308786 13
5060726308724 13
5060726308731 13
5060726308793 13
5060726308809 13
5060726308816 13
5060726308823 13
5060726308854 13
5060726308861 13
5060726308878 13
5060726308885 13
5060726308908 13
5060726308915 13
5060726308922 13
5060726308939 13
5060726308946 13
5060726308953 13
5060726308960 13
5060726308977 13
USD9854 7
nan 3
nan 3

In [21]:
ex.iloc[:,8]

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
           ...
100    5060726308960
101    5060726308977
102          USD9854
103              NaN
104              NaN
Name: Unnamed: 8, Length: 105, dtype: object

In [5]:
ean = barcode.get('ean13-guard', '5060726308724', writer=ImageWriter(format='EPS'),)

In [15]:
ean.to_ascii()

'| |   || |    | | |  ||| ||| ||  |  ||    | | | | |    | |||  | |  |   |   |  || ||  | |||  | |'

In [6]:
filename = ean.save('ean13')
filename

'ean13.eps'