In [22]:
import numpy as np
import pandas as pd

store_path = 'media' + '/stats-stock-2003-v1.pkl'
store_path

'media/stats-stock-2003-v1.pkl'

In [10]:
import datetime

In [23]:
p = pd.read_pickle(store_path)
p

,index,id,id_product,reference,qnt,date_add,bt,gelclr,procare,soakoff,fileoff,acry,qt,outlet,archive,qnt2,predicton,date_out
0,267,322878,2003,12-DIAMOND SHINE TOP COAT,3.0,2023-07-08,1,0,1,0,0,0,0,0,0,3.0,NaN,NaT
1,903,323846,2003,12-DIAMOND SHINE TOP COAT,2.0,2023-07-10,1,0,1,0,0,0,0,0,0,2.0,NaN,NaT
2,1221,324330,2003,12-DIAMOND SHINE TOP COAT,0.0,2023-07-11,1,0,1,0,0,0,0,0,0,0.0,NaN,NaT
3,34934,372026,2003,12-DIAMOND SHINE TOP COAT,-1.0,2023-10-24,1,0,1,0,0,0,0,0,0,-1.0,NaN,NaT
4,41287,379906,2003,12-DIAMOND SHINE TOP COAT,-2.0,2023-11-11,1,0,1,0,0,0,0,0,0,-2.0,NaN,NaT
5,43503,382590,2003,12-DIAMOND SHINE TOP COAT,15.0,2023-11-17,1,0,1,0,0,0,0,0,0,15.0,NaN,NaT
6,44987,384377,2003,12-DIAMOND SHINE TOP COAT,13.0,2023-11-21,1,0,1,0,0,0,0,0,0,13.0,NaN,NaT
7,46101,385710,2003,12-DIAMOND SHINE TOP COAT,12.0,2023-11-24,1,0,1,0,0,0,0,0,0,12.0,NaN,NaT
8,46473,386149,2003,12-DIAMOND SHINE TOP COAT,11.0,2023-11-25,1,0,1,0,0,0,0,0,0,11.0,NaN,NaT
9,47217,387025,2003,12-DIAMOND SHINE TOP COAT,9.0,2023-11-27,1,0,1,0,0,0,0,0,0,9.0,NaN,NaT
10,0,390940,2003,12-DIAMOND SHINE TOP COAT,38.0,2023-12-06,1,0,1,0,0,0,0,0,0,38.0,49.458243,2024-01-03
11,11,395656,2003,12-DIAMOND SHINE TOP COAT,37.0,2023-12-17,1,0,1,0,0,0,0,0,0,37.0,32.019798,2024-01-03
12,13,396510,2003,12-DIAMOND SHINE TOP COAT,36.0,2023-12-19,1,0,1,0,0,0,0,0,0,36.0,28.849172,2024-01-03
13,20,399489,2003,12-DIAMOND SHINE TOP COAT,34.0,2023-12-26,1,0,1,0,0,0,0,0,0,34.0,17.751980,2024-01-03
14,21,399914,2003,12-DIAMOND SHINE TOP COAT,30.0,2023-12-27,1,0,1,0,0,0,0,0,0,30.0,16.166667,2024-01-03
15,22,400339,2003,12-DIAMOND SHINE TOP COAT,8.0,2023-12-28,1,0,1,0,0,0,0,0,0,8.0,14.581353,2024-01-03
16,23,400764,2003,12-DIAMOND SHINE TOP COAT,7.0,2023-12-29,1,0,1,0,0,0,0,0,0,7.0,12.996040,2024-01-03
17,24,401189,2003,12-DIAMOND SHINE TOP COAT,5.0,2023-12-30,1,0,1,0,0,0,0,0,0,5.0,11.410727,2024-01-03
18,27,402464,2003,12-DIAMOND SHINE TOP COAT,1.0,2024-01-02,1,0,1,0,0,0,0,0,0,1.0,6.654788,2024-01-03
19,28,402889,2003,12-DIAMOND SHINE TOP COAT,0.0,2024-01-03,1,0,1,0,0,0,0,0,0,0.0,5.069474,2024-01-03
20,31,404164,2003,12-DIAMOND SHINE TOP COAT,-1.0,2024-01-06,1,0,1,0,0,0,0,0,0,-1.0,0.313535,2024-01-03
21,32,404587,2003,12-DIAMOND SHINE TOP COAT,-1.0,2024-01-07,1,0,1,0,0,0,0,0,0,-1.0,-1.271778,2024-01-03

In [16]:
p['diff']=p['qnt'].diff().astype()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [21]:
p['diff'].astype('f')

0      NaN
1     -2.0
2     -1.0
3     -2.0
4     -4.0
5     -8.0
6     64.0
7     -2.0
8     -3.0
9     -4.0
10    -2.0
11    -2.0
12    -1.0
13    -1.0
14    -4.0
15    -1.0
16    -1.0
17    -1.0
18    -1.0
19   -13.0
20    -6.0
21    -1.0
22    -1.0
23    -2.0
24    59.0
25    -1.0
26    -1.0
27    -1.0
28    -1.0
29    -1.0
30    -1.0
31   -12.0
32    -2.0
33    -1.0
34    -1.0
35    -2.0
36    -4.0
37    -1.0
38   -21.0
39   -26.0
40    -1.0
41    -5.0
42    -1.0
43    -1.0
44    -7.0
45    -1.0
46    -5.0
Name: diff, dtype: float32

In [15]:
p

,index,id,id_product,reference,qnt,date_add,bt,gelclr,procare,soakoff,fileoff,acry,qt,outlet,archive,qnt2,predicton,date_out,diff
0,24195,355957,2114,K01-Rubber Base (fibre),0.0,2023-09-17,1,0,0,0,0,0,0,0,0,0.0,NaN,NaT,NaN
1,25569,357791,2114,K01-Rubber Base (fibre),-2.0,2023-09-21,1,0,0,0,0,0,0,0,0,-2.0,NaN,NaT,-2.0
2,25913,358244,2114,K01-Rubber Base (fibre),-3.0,2023-09-22,1,0,0,0,0,0,0,0,0,-3.0,NaN,NaT,-1.0
3,26613,359160,2114,K01-Rubber Base (fibre),-5.0,2023-09-24,1,0,0,0,0,0,0,0,0,-5.0,NaN,NaT,-2.0
4,26963,359614,2114,K01-Rubber Base (fibre),-9.0,2023-09-25,1,0,0,0,0,0,0,0,0,-9.0,NaN,NaT,-4.0
5,27669,360528,2114,K01-Rubber Base (fibre),-17.0,2023-09-27,1,0,0,0,0,0,0,0,0,-17.0,NaN,NaT,-8.0
6,28022,360979,2114,K01-Rubber Base (fibre),47.0,2023-09-28,1,0,0,0,0,0,0,0,0,47.0,NaN,NaT,64.0
7,29792,363235,2114,K01-Rubber Base (fibre),45.0,2023-10-03,1,0,0,0,0,0,0,0,0,45.0,NaN,NaT,-2.0
8,30145,363684,2114,K01-Rubber Base (fibre),42.0,2023-10-04,1,0,0,0,0,0,0,0,0,42.0,NaN,NaT,-3.0
9,30851,364579,2114,K01-Rubber Base (fibre),38.0,2023-10-06,1,0,0,0,0,0,0,0,0,38.0,NaN,NaT,-4.0
10,31204,365025,2114,K01-Rubber Base (fibre),36.0,2023-10-07,1,0,0,0,0,0,0,0,0,36.0,NaN,NaT,-2.0
11,31910,365917,2114,K01-Rubber Base (fibre),34.0,2023-10-09,1,0,0,0,0,0,0,0,0,34.0,NaN,NaT,-2.0
12,32263,366363,2114,K01-Rubber Base (fibre),33.0,2023-10-10,1,0,0,0,0,0,0,0,0,33.0,NaN,NaT,-1.0
13,32616,366806,2114,K01-Rubber Base (fibre),32.0,2023-10-11,1,0,0,0,0,0,0,0,0,32.0,NaN,NaT,-1.0
14,32969,367243,2114,K01-Rubber Base (fibre),28.0,2023-10-13,1,0,0,0,0,0,0,0,0,28.0,NaN,NaT,-4.0
15,33325,367683,2114,K01-Rubber Base (fibre),27.0,2023-10-14,1,0,0,0,0,0,0,0,0,27.0,NaN,NaT,-1.0
16,33681,368123,2114,K01-Rubber Base (fibre),26.0,2023-10-15,1,0,0,0,0,0,0,0,0,26.0,NaN,NaT,-1.0
17,34037,368563,2114,K01-Rubber Base (fibre),25.0,2023-10-16,1,0,0,0,0,0,0,0,0,25.0,NaN,NaT,-1.0
18,36557,371651,2114,K01-Rubber Base (fibre),24.0,2023-10-23,1,0,0,0,0,0,0,0,0,24.0,NaN,NaT,-1.0
19,36920,372094,2114,K01-Rubber Base (fibre),11.0,2023-10-24,1,0,0,0,0,0,0,0,0,11.0,NaN,NaT,-13.0
20,37646,372972,2114,K01-Rubber Base (fibre),5.0,2023-10-26,1,0,0,0,0,0,0,0,0,5.0,NaN,NaT,-6.0
21,39467,375166,2114,K01-Rubber Base (fibre),4.0,2023-10-31,1,0,0,0,0,0,0,0,0,4.0,NaN,NaT,-1.0
22,40199,376044,2114,K01-Rubber Base (fibre),3.0,2023-11-02,1,0,0,0,0,0,0,0,0,3.0,NaN,NaT,-1.0
23,41669,377774,2114,K01-Rubber Base (fibre),1.0,2023-11-06,1,0,0,0,0,0,0,0,0,1.0,NaN,NaT,-2.0
24,0,378207,2114,K02-Rubber Base (fibre),60.0,2023-11-07,1,0,0,0,0,0,0,0,0,60.0,75.408317,2023-12-28,59.0
25,1,378640,2114,K02-Rubber Base (fibre),59.0,2023-11-08,1,0,0,0,0,0,0,0,0,59.0,73.761895,2023-12-28,-1.0
26,4,379971,2114,K02-Rubber Base (fibre),58.0,2023-11-11,1,0,0,0,0,0,0,0,0,58.0,68.822629,2023-12-28,-1.0
27,8,381759,2114,K02-Rubber Base (fibre),57.0,2023-11-15,1,0,0,0,0,0,0,0,0,57.0,62.236942,2023-12-28,-1.0
28,14,384442,2114,K02-Rubber Base (fibre),56.0,2023-11-21,1,0,0,0,0,0,0,0,0,56.0,52.358410,2023-12-28,-1.0
29,16,385330,2114,K02-Rubber Base (fibre),55.0,2023-11-23,1,0,0,0,0,0,0,0,0,55.0,49.065566,2023-12-28,-1.0
30,17,385775,2114,K02-Rubber Base (fibre),54.0,2023-11-24,1,0,0,0,0,0,0,0,0,54.0,47.419144,2023-12-28,-1.0
31,18,386213,2114,K02-Rubber Base (fibre),42.0,2023-11-25,1,0,0,0,0,0,0,0,0,42.0,45.772723,2023-12-28,-12.0
32,24,388832,2114,K02-Rubber Base (fibre),40.0,2023-12-01,1,0,0,0,0,0,0,0,0,40.0,35.894191,2023-12-28,-2.0
33,28,390572,2114,K02-Rubber Base (fibre),39.0,2023-12-05,1,0,0,0,0,0,0,0,0,39.0,29.308504,2023-12-28,-1.0
34,33,392725,2114,K02-Rubber Base (fibre),38.0,2023-12-10,1,0,0,0,0,0,0,0,0,38.0,21.076394,2023-12-28,-1.0
35,37,394439,2114,K02-Rubber Base (fibre),36.0,2023-12-14,1,0,0,0,0,0,0,0,0,36.0,14.490706,2023-12-28,-2.0
36,38,394866,2114,K02-Rubber Base (fibre),32.0,2023-12-15,1,0,0,0,0,0,0,0,0,32.0,12.844285,2023-12-28,-4.0
37,40,395720,2114,K02-Rubber Base (fibre),31.0,2023-12-17,1,0,0,0,0,0,0,0,0,31.0,9.551441,2023-12-28,-1.0
38,50,399978,2114,K02-Rubber Base (fibre),10.0,2023-12-27,1,0,0,0,0,0,0,0,0,10.0,-6.912778,2023-12-28,-21.0
39,51,400403,2114,K02-Rubber Base (fibre),-16.0,2023-12-28,1,0,0,0,0,0,0,0,0,-16.0,-8.559200,2023-12-28,-26.0
40,52,400828,2114,K02-Rubber Base (fibre),-17.0,2023-12-29,1,0,0,0,0,0,0,0,0,-17.0,-10.205622,2023-12-28,-1.0
41,53,401253,2114,K02-Rubber Base (fibre),-22.0,2023-12-30,1,0,0,0,0,0,0,0,0,-22.0,-11.852044,2023-12-28,-5.0
42,55,402103,2114,K02-Rubber Base (fibre),-23.0,2024-01-01,1,0,0,0,0,0,0,0,0,-23.0,-15.144888,2023-12-28,-1.0
43,56,402528,2114,K02-Rubber Base (fibre),-24.0,2024-01-02,1,0,0,0,0,0,0,0,0,-24.0,-16.791310,2023-12-28,-1.0
44,57,402953,2114,K02-Rubber Base (fibre),-31.0,2024-01-03,1,0,0,0,0,0,0,0,0,-31.0,-18.437732,2023-12-28,-7.0
45,59,403803,2114,K02-Rubber Base (fibre),-32.0,2024-01-05,1,0,0,0,0,0,0,0,0,-32.0,-21.730575,2023-12-28,-1.0
46,60,404228,2114,K02-Rubber Base (fibre),-37.0,2024-01-06,1,0,0,0,0,0,0,0,0,-37.0,-23.376997,2023-12-28,-5.0

In [10]:
#p.astype({datetime.date,int,int,int,int,int,int,float,float,float,float})
p=p.astype({'date_add':'M','products':'int64','GBP_cost':'f','GBP_products':'f','GBP_shipping':'f','GBP_paid':'float64'})
p

,date_add,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,Y,M,D,Q,DOY,DOW,DIM,VAT 8pc,Gross Margin
0,2022-01-27,4,2,4.880000,36.590000,7.200000,43.79,2022,1,27,1,27,3,31,2.93,28.78
1,2022-01-26,3,2,3.960000,52.500000,7.200000,59.70,2022,1,26,1,26,2,31,4.20,44.34
2,2022-01-25,129,3,102.449997,865.320007,100.300003,958.47,2022,1,25,1,25,1,31,69.23,693.64
3,2022-01-24,47,2,72.339996,319.429993,14.100000,333.53,2022,1,24,1,24,0,31,25.55,221.54
4,2022-01-23,16,1,16.260000,111.339996,6.950000,118.29,2022,1,23,1,23,6,31,8.91,86.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2019-01-08,2,1,13.080000,44.980000,3.500000,48.48,2019,1,8,1,8,1,31,3.60,28.30
931,2019-01-07,14,2,15.840000,79.559998,18.950001,98.52,2019,1,7,1,7,0,31,6.36,57.36
932,2019-01-04,22,2,34.200001,156.210007,25.719999,181.93,2019,1,4,1,4,4,31,12.50,109.51
933,2019-01-03,14,1,17.160000,81.459999,3.500000,84.96,2019,1,3,1,3,3,31,6.52,57.78
934,2019-01-02,3,1,0.000000,21.000000,3.500000,24.50,2019,1,2,1,2,2,31,1.68,19.32

In [110]:
p['DOY'] = pd.to_datetime(p['date_add']).dt.day_of_year

In [111]:
p['DOW'] = pd.to_datetime(p['date_add']).dt.day_of_week

In [112]:
p

,date_add,Y,Q,M,D,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,DOW
0,2022-01-25,2022,1,1,25,129,3,102.45,865.32,100.30,958.47,25,1
1,2022-01-24,2022,1,1,24,47,2,72.34,319.43,14.10,333.53,24,0
2,2022-01-23,2022,1,1,23,16,1,16.26,111.34,6.95,118.29,23,6
3,2022-01-21,2022,1,1,21,37,6,59.49,358.36,41.70,400.06,21,4
4,2022-01-20,2022,1,1,20,4,1,6.03,45.22,6.95,52.17,20,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,2018-10-26,2018,4,10,26,3,1,0.00,11.65,3.50,15.15,299,4
979,2018-10-23,2018,4,10,23,5,1,5.28,26.34,3.50,29.84,296,1
980,2018-10-20,2018,4,10,20,4,2,5.28,30.14,12.00,42.14,293,5
981,2018-10-19,2018,4,10,19,12,3,9.24,77.58,10.50,119.25,292,4
982,2018-10-18,2018,4,10,18,33,2,9.24,156.18,7.00,326.37,291,3

In [21]:
p1 = p.groupby(['Y','M']).agg({'products':np.sum,
                                                'orders':np.sum,
                                                'GBP_products':np.sum,
                                                'Gross Margin':np.sum,
                                                }).sort_index(ascending=False)
p1

         products  orders  GBP_products  Gross Margin
Y    M
2022 1        719      69   5568.310059       4097.31
2021 12       710      92   5560.350098       3989.09
     11      1080     113   9066.009766       6590.37
     10       864      82   7458.470215       5267.55
     9        686      74   6318.000000       4734.35
     8        832     102   6976.589844       5189.08
     7        936     100   6848.129883       4837.05
     6        859      88   7576.500000       5669.28
     5        747      75   6615.179688       4655.98
     4        753      87   5688.990234       3902.95
     3        786      80   5434.339844       3718.35
     2        627      70   5156.729980       3634.92
     1        238      57   2581.459961       1908.11
2020 12       924      88   6455.819824       4964.16
     11       629      74   4283.450195       3049.11
     10       581      72   4884.890137       3494.08
     9        494      68   3299.599854       2316.14
     8       1063     117   6512.950195       4163.68
     7        489      53   3447.209961       2643.75
     6        799      61   5232.839844       3971.15
     5        846      77   5081.529785       3784.44
     4        728      73   5076.189941       3772.71
     3        432      47   2924.729980       2116.07
     2       1375     100   7567.580078       5299.93
     1        511      63   3398.580078       2455.55
2019 12       382      53   2803.199951       2065.42
     11       540      81   3481.719971       2451.43
     10      1176      95   6375.850098       4291.50
     9        669      82   4242.589844       2872.02
     8        427      32   2713.709961       2047.09
     7        381      52   2900.630127       2258.38
     6        201      31   1731.439941       1376.19
     5        284      47   2365.449951       1709.11
     4        361      57   2871.929932       2132.69
     3        156      33   1426.260010       1030.40
     2        254      40   1925.940063       1402.75
     1        261      42   1785.330078       1309.89

In [49]:
p2 = p1.groupby(['Y',]).agg({'products':np.mean,
                                                'orders':np.mean,
                                                'GBP_products':np.mean,
                                                'Gross Margin':np.mean,

                                                }).sort_index(ascending=False)
p2

        products     orders  GBP_products  Gross Margin
Y
2022  719.000000  69.000000   5568.310059   4097.310000
2021  759.833333  85.000000   6273.395996   4508.090000
2020  739.250000  74.416667   4847.114258   3502.564167
2019  424.333333  53.750000   2885.337402   2078.905833

In [51]:
a=p2.mean()
a

products         660.604167
orders            70.541667
GBP_products    4893.539551
Gross Margin    3546.717500
dtype: float64

In [59]:
p2.loc['alltime'] = a

In [60]:
p2

           products     orders  GBP_products  Gross Margin
Y
2022     719.000000  69.000000   5568.310059   4097.310000
2021     759.833333  85.000000   6273.395996   4508.090000
2020     739.250000  74.416667   4847.114258   3502.564167
2019     424.333333  53.750000   2885.337402   2078.905833
alltime  660.604167  70.541667   4893.539551   3546.717500

In [37]:
p22=p2.append(p2.mean(),ignore_index=True)
p22

     products     orders  GBP_products  Gross Margin
0  719.000000  69.000000   5568.310059   4097.310000
1  759.833333  85.000000   6273.395996   4508.090000
2  739.250000  74.416667   4847.114258   3502.564167
3  424.333333  53.750000   2885.337402   2078.905833
4  660.604167  70.541667   4893.539551   3546.717500

In [24]:
p3 = p.groupby(['Y','M']).agg({'products':np.mean,
                                                'orders':np.mean,
                                                'GBP_products':np.mean,
                                                'Gross Margin':np.mean,
                                                }).sort_index(ascending=False)
p3

          products    orders  GBP_products  Gross Margin
Y    M
2022 1   29.958333  2.875000    232.012909    170.721250
2021 12  29.583333  3.833333    231.681244    166.212083
     11  38.571429  4.035714    323.786072    235.370357
     10  27.870968  2.645161    240.595810    169.920968
     9   26.384615  2.846154    243.000000    182.090385
     8   28.689655  3.517241    240.572067    178.933793
     7   31.200000  3.333333    228.270996    161.235000
     6   33.038462  3.384615    291.403839    218.049231
     5   27.666667  2.777778    245.006668    172.443704
     4   27.888889  3.222222    210.703339    144.553704
     3   30.230769  3.076923    209.013077    143.013462
     2   25.080000  2.800000    206.269196    145.396800
     1    9.153846  2.192308     99.286926     73.388846
2020 12  33.000000  3.142857    230.565002    177.291429
     11  26.208333  3.083333    178.477081    127.046250
     10  23.240000  2.880000    195.395599    139.763200
     9   19.000000  2.615385    126.907692     89.082308
     8   35.433333  3.900000    217.098343    138.789333
     7   19.560000  2.120000    137.888397    105.750000
     6   29.592593  2.259259    193.808884    147.079630
     5   29.172414  2.655172    175.225174    130.497931
     4   30.333333  3.041667    211.507919    157.196250
     3   20.571429  2.238095    139.272858    100.765238
     2   50.925926  3.703704    280.280731    196.293704
     1   21.291667  2.625000    141.607498    102.314583
2019 12  16.608696  2.304348    121.878265     89.800870
     11  20.000000  3.000000    128.952591     90.793704
     10  43.555556  3.518519    236.142593    158.944444
     9   24.777778  3.037037    157.132965    106.371111
     8   21.350000  1.600000    135.685501    102.354500
     7   17.318182  2.363636    131.846817    102.653636
     6   11.166667  1.722222     96.191109     76.455000
     5   14.200000  2.350000    118.272499     85.455500
     4   13.370370  2.111111    106.367775     78.988519
     3    7.800000  1.650000     71.313004     51.520000
     2   11.545455  1.818182     87.542725     63.761364
     1   11.347826  1.826087     77.623047     56.951739

In [29]:
p4 = p3.groupby(['Y',]).agg({'products':np.mean,
                                                'orders':np.mean,
                                                'GBP_products':np.mean,
                                                'Gross Margin':np.mean,

                                                }).sort_index(ascending=False)
p4

       products    orders  GBP_products  Gross Margin
Y
2022  29.958333  2.875000    232.012909    170.721250
2021  27.946553  3.138732    230.799103    165.884028
2020  28.194086  2.855373    185.669601    134.322488
2019  17.753377  2.275095    122.412407     88.670866

In [114]:
p.loc[2022:2022,'GBP_products_e']=123
p

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e
Y,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,123.0
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN

In [115]:
p.index

Int64Index([2022, 2021, 2020, 2019, 2018], dtype='int64', name='Y')

In [124]:
p['GBP_products_e'].iloc[0]=12345
p

C:\Users\user\.virtualenvs\djellifique-mnrbmK6X\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e
Y,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,12345.0
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN

In [130]:
p.loc[p.index[0],'qq'] = 666

In [129]:
p

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e,qq
Y,,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,12345.0,666.0
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN,NaN