In [4]:
import numpy as np
import pandas as pd

store_path = 'media' + '/statsdata.pkl'
store_path

'media/statsdata.pkl'

In [109]:
p = pd.read_pickle(store_path)
p

,date_add,Y,Q,M,D,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid
0,2022-01-25,2022,1,1,25,129,3,102.45,865.32,100.30,958.47
1,2022-01-24,2022,1,1,24,47,2,72.34,319.43,14.10,333.53
2,2022-01-23,2022,1,1,23,16,1,16.26,111.34,6.95,118.29
3,2022-01-21,2022,1,1,21,37,6,59.49,358.36,41.70,400.06
4,2022-01-20,2022,1,1,20,4,1,6.03,45.22,6.95,52.17
...,...,...,...,...,...,...,...,...,...,...,...
978,2018-10-26,2018,4,10,26,3,1,0.00,11.65,3.50,15.15
979,2018-10-23,2018,4,10,23,5,1,5.28,26.34,3.50,29.84
980,2018-10-20,2018,4,10,20,4,2,5.28,30.14,12.00,42.14
981,2018-10-19,2018,4,10,19,12,3,9.24,77.58,10.50,119.25
982,2018-10-18,2018,4,10,18,33,2,9.24,156.18,7.00,326.37

In [110]:
p['DOY'] = pd.to_datetime(p['date_add']).dt.day_of_year

In [111]:
p['DOW'] = pd.to_datetime(p['date_add']).dt.day_of_week

In [112]:
p

,date_add,Y,Q,M,D,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,DOW
0,2022-01-25,2022,1,1,25,129,3,102.45,865.32,100.30,958.47,25,1
1,2022-01-24,2022,1,1,24,47,2,72.34,319.43,14.10,333.53,24,0
2,2022-01-23,2022,1,1,23,16,1,16.26,111.34,6.95,118.29,23,6
3,2022-01-21,2022,1,1,21,37,6,59.49,358.36,41.70,400.06,21,4
4,2022-01-20,2022,1,1,20,4,1,6.03,45.22,6.95,52.17,20,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,2018-10-26,2018,4,10,26,3,1,0.00,11.65,3.50,15.15,299,4
979,2018-10-23,2018,4,10,23,5,1,5.28,26.34,3.50,29.84,296,1
980,2018-10-20,2018,4,10,20,4,2,5.28,30.14,12.00,42.14,293,5
981,2018-10-19,2018,4,10,19,12,3,9.24,77.58,10.50,119.25,292,4
982,2018-10-18,2018,4,10,18,33,2,9.24,156.18,7.00,326.37,291,3

In [113]:
p = p.groupby(['Y',]).agg({'products':np.sum,
                                                'orders':np.sum,
                                                'GBP_cost':np.sum,
                                                'GBP_products':np.sum,
                                                'GBP_shipping':np.sum,
                                                'GBP_paid':np.sum,
                                                'DOY':np.max
                                                }).sort_index(ascending=False)
p

     products  orders  GBP_cost GBP_products GBP_shipping  GBP_paid  DOY
Y
2022      712      65   1016.68      5479.22       590.50   5925.17   25
2021     9118    1020  15161.24     75280.75      7724.64  81937.43  365
2020     8871     893  11481.46     58165.37      7271.96  65342.94  366
2019     5092     645   6907.20     34624.05      3874.14  38596.95  365
2018      859     135    788.16      4570.85       734.14   7266.71  365

In [94]:
p['GBP_products'] = p['GBP_products'].astype(float)
p.loc['2022':'2022','GBP_products_e']=round(p['GBP_products']*365/p.loc['2022':'2022','DOY'],2)
p

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e
Y,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,79996.61
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN

In [136]:
p['GBP_products'] = p['GBP_products'].astype(float)
p.loc[p.index[0],'GBP_products_e'] = p.loc[p.index[0],'GBP_products']*365/p.loc[p.index[0],'DOY']
p

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e,qq,GBP_products_ee
Y,,,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,12345.0,666.0,79996.612
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN,NaN,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN,NaN,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN,NaN,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN,NaN,NaN

In [142]:
1%3-1

0

In [114]:
p.loc[2022:2022,'GBP_products_e']=123
p

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e
Y,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,123.0
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN

In [115]:
p.index

Int64Index([2022, 2021, 2020, 2019, 2018], dtype='int64', name='Y')

In [124]:
p['GBP_products_e'].iloc[0]=12345
p

C:\Users\user\.virtualenvs\djellifique-mnrbmK6X\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e
Y,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,12345.0
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN

In [130]:
p.loc[p.index[0],'qq'] = 666

In [129]:
p

,products,orders,GBP_cost,GBP_products,GBP_shipping,GBP_paid,DOY,GBP_products_e,qq
Y,,,,,,,,,
2022,712,65,1016.68,5479.22,590.50,5925.17,25,12345.0,666.0
2021,9118,1020,15161.24,75280.75,7724.64,81937.43,365,NaN,NaN
2020,8871,893,11481.46,58165.37,7271.96,65342.94,366,NaN,NaN
2019,5092,645,6907.20,34624.05,3874.14,38596.95,365,NaN,NaN
2018,859,135,788.16,4570.85,734.14,7266.71,365,NaN,NaN